@charset "UTF-8";
/* CSS Document */

/* common */
* {
	padding: 0px;
	margin: 0px;
}
li {
	list-style-type: none;
}
li img {
	display: block;
}
a img {
	border-style: none;
}
header,main,footer,nav,section,article,aside,figure {
	display: block;
}
/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v25-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}
html {
	width: 100%;
	height: 100%;
}
body {
	font-size: 12px;
	line-height: 1.5em;
	color: #fff;
	font-family:'NotoSans',sans-serif;
	background-image: url(img/back.png); /* http://bg.siteorigin.com */
}
h1 {
	font-family: 'NotoSans',sans-serif;
	font-weight: 100;
	font-size: 20px;
	line-height: 1.7em;
}
a {
	font-family: "NotoSans";
	/* -for webkit- */
	-webkit-transition-property: color;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;
    /* -for mozilla- */
    -moz-transition-property: color;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;
    /* for prest- */
    -o-transition-property: color;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;
}
a:link {
	color: #fff;
}
a:visited {
	color: #fff;
}
a:hover {
	color: #ff6d00;	
}

/* header */
header {
	width: 350px;
	margin: 0 auto;
	padding: 20px 0 20px 10px;
}
header p {
	margin: 15px 0 0 0;
}

/* main */
main {
	width: 350px;
	margin: 0px auto;
	padding: 20px 0 20px 0px;
	font-size: 16px;
	font-family: 'NotoSans-M',sans-serif;
    border-top: solid 1px #bdbdbd;
    border-bottom: solid 1px #bdbdbd;
}
/* cnt1 */
#classselect {
	width: 283px;
}
#cnt1 p {
	display: inline;
}
/* cnt1 */
#skill {
	position: relative;
	display: block;
	margin: 0 0 0px 0;
	text-align: center;

}
#skill td {
	width: 40rem;
	text-align: right;
}
#hp {
	color: #ff6d00;
	font-size: 20px;
}
#st {
	color: #6dff00;
	font-size: 20px;
}
#fp {
	color: #6dff;
	font-size: 20px;
}
#cp {
	color: #ff6d;
	font-size: 20px;
}
#cnt2 {
	margin: 20px 0 0 0;
}

#cnt2 p {
	margin: 0 0 20px 60px;
}
#cnt2 li {
	font-size: 14px;
	margin: 0 0 0 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#lv  {
	font-size: 24px;
	color: #ff6d00;
}
#cnt2 input {
	font-size: 24px;
	width: 90px;
	height: 30px;
	text-align: center;
	color: #ff6d00;
}
#cnt2 button {
	width: 75px;
	height: 37px;
	margin: 0 0 0 5px;
	text-align: center;
	font-size: 12px;
}

/* footer*/
footer {
	width: 350px;
	margin: 0 auto;
	padding: 20px 0 20px 10px;
	font-size: 12px;
}
#social {
	width: 320px;
	margin: 15px 0 0 0;
}
#ad {
	width: 320px;
	height: 100px;
	margin: 0 0 15px 0;
	background-color: #757575;
}

@media screen and (max-width:759px){
}
@media screen and (min-width:760px){
}
